.navbar{
    max-width: 1366px;
    background-color: gray;
    border-radius: 25px% 25px 25px 0;
    background-size: cover;

        .link a {
            text-decoration: none;
            color: inherit;
        }

    
    
    .laptop{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 10px;

        .logo{
            position: relative;
            z-index: 10;
            background-color: transparent;

            &::before{
                content: "" ;
                height: 30px;
                width: 30px;
                position: absolute;
                background-color: #2F9FFB;
                z-index: -1;
                border-radius: 50%;
                left: -2px;
            }

            .link-logo {
                text-decoration: none;
                color: white;
                font-weight: bold;

                &:hover {
                    color: #1c7ed6;
                }
}

        }

        .links-conteneur{
            list-style: none;
            display: flex;
            align-items: center;
            gap: 35px;

            li{
                font-size: 15px;
                opacity: 0.7;
                cursor: pointer;
            }
        }

        .menu-icon{
            width: 20px;
            height: 20px;
            color: white;
            margin-bottom: 4px;
            display: none;
        }
    }
}